SpeechRecognition==3.10.4
pyttsx3==2.90
gTTS==2.5.1

spacy==3.7.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
requests==2.31.0
python-dotenv==1.0.1
pyyaml==6.0.1
apscheduler==3.10.4
wikipedia-api==0.6.0
openai==1.30.1
anthropic==0.26.0
flask==3.0.3
pytest==8.2.1
